
body { 
		font-family: Verdana, Arial, sans-serif; /* Setter fonten på dokumentet */
		padding: 0;
		margin: 0;
		background: #f0f0f0;	/* Setter bakgrunnsfarge bak contentet */
	}
	
#wrapper {
		background: #3E73B9; /* Setter bakgrunnsfarge på wrapper */
		width: 85%; /* Setter bredden til 85% av skjermbildet */
		margin-right: auto; /* Midtstiller nettsiden */
		margin-left: auto; /* Midtstiller nettsiden */
}
	
#header {
		height: 100px; /* Setter høyden på header */
		width: 	auto; /* Setter bredde på header */
		margin-left: auto; /* Midtstiller headeren */
		margin-right: auto; /* Midtstiller headeren */
		padding: 10px 38px 10px 20px; /* Stiller inn padding*/
		background: #666; /* Setter bakgrunnsfargen på nettsiden */
		text-align: center; /* Midtstiller teksten i headeren */
		}	

img.headerbilde {
display: block;
margin-right: auto;
margin-left: auto;
}

img.restbilder {
display: block;
margin-right: auto;
margin-left: auto;
}

#menubar ul { /* Definerer <ul> under menubar id'en */
  background: #666;
  height: 14px;
  list-style: none;
  padding-left:0px;
  margin: 0;
}		

#menubar li { /* Definerer <li> under menubar id'en */
  float: left;
  padding: 0px;
}

#menubar li a { /* Definerer linkene som finnes i <li> under menubar id'en */
  background: #2580a2 bottom right no-repeat;
  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding-left:25px;
  padding-right:25px;
  text-align: center;
  text-decoration: none;
  }
  
#menubar > ul > li > a { /* Definerer linkene i undermenyen */
  color: #cccccc;
  }

#menubar ul ul a { /* Definerer linkene i menubar id'en */
  color: #cccccc;
  }
  
#menubar  li > a:hover,
#menubar ul li:hover > a { /* Definerer hva som skjer når du holder over linkene med musa under menubar id'ën */
  background: #2580a2 url('images/hover.png') bottom center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
  }
#menubar li ul { /* Definerer undermenyene */
  background: #333333;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
}
#menubar  li:hover ul { /* Definerer hva som skjer når du holder musa over et <ul> element innenfor <li> */
  display: block;
}

#menubar li li { /* Definerer <li> innenfor <li> i menubar id'en */
  background: url('images/sub_sep.png') bottom left no-repeat;
  display: block;
  float: center;
  margin: 0px;
  padding: 0px;
  width: 225px;
 }
#menubar  li:hover li a { /* Definerer hva som skjer når du holder musa over en <li> innenfor  */
  background: none;
}

#menubar li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}

#menubar  li ul a:hover,

#menubar li ul li:hover > a {
  background: #2580a2 url('images/hover_sub.png') center left no-repeat;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
#menubar p {
  clear: left;
}
#footer { /* Definerer footeren */
	background: #666;
	bottom:0;
	width:auto;
	height:60px;
	position:relative;
	text-align: center;
	margin-top: 2cm;	
}

	
#container{ /* Definerer containeren */
		background: #66A3D2;
		position: relative;
		width: auto;
		height: auto;
		margin-top: 21px;
		text-align: center;
		}
		
		
#content { /* Definerer content */
		background: #ffffff;
		height: auto;
		width: 60%;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 10px 10px 10px;
}		


#contentbilde { /* Definerer contentbilde */
		width: 250px;
		height: 250px;
		float: left;
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 25px;
		padding: 0px 0px 0px 200px;
		text-align: center;
}

#googleMap {
width:250px;
height:250px;
float: right;

}