
body {
		font-family: Verdana, Arial, sans-serif;
		padding: 0;
		margin: 0;
		background: #D8D8D8;
		
	<!--	background-image:url('images/bakgrunn.png'); -->
		background: #033E6B;
		
	}
	
#wrapper {

		background: #3E73B9;
		width: 85%;
		margin-right: auto;
		margin-left: auto;

}
	
#header {
		
		
		height: 100px;
		width: 	auto;
		margin-left: auto;
		margin-right: auto;
		padding: 10px 38px 10px 20px;
		background: #3E73B9;
		text-align: center;
		
		
		
		}	

img.headerbilde {

display: block;
margin-right: auto;
margin-left: auto;

}

img.restbilder {

display: block;
margin-right: auto;
margin-left: auto;



}

#menubar ul {
  background: #3E73B9;
  height: 14px;
  list-style: none;
  padding-left:0px;
  margin: 0;
  

}		

#menubar li {
  float: left;
  padding: 0px;
}

#menubar li a {
  background: #2580a2 bottom right no-repeat;
  display: block;
  font-weight: normal;
  line-height: 35px;
  margin: 0px;
  padding-left:25px;
  padding-right:25px;
  text-align: center;
  text-decoration: none;
  }
  
#menubar > ul > li > a {
  color: #cccccc;
  }

#menubar ul ul a {
  color: #cccccc;
  }
  
#menubar  li > a:hover,
#menubar ul li:hover > a {
  background: #2580a2 url('images/hover.png') bottom center no-repeat;
  color: #FFFFFF;
  text-decoration: none;
  }
#menubar li ul {
  background: #333333;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	left:0;*/

}
#menubar  li:hover ul {
  display: block;
}

#menubar li li {
  background: url('images/sub_sep.png') bottom left no-repeat;
  display: block;
  float: center;
  margin: 0px;
  padding: 0px;
  width: 225px;
 }
#menubar  li:hover li a {
  background: none;
}

#menubar li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}

#menubar  li ul a:hover,

#menubar li ul li:hover > a {
  background: #2580a2 url('images/hover_sub.png') center left no-repeat;
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
#menubar p {
  clear: left;
}
  
 

#footer {

	background: #25567B;
	bottom:0;
	width:auto;
	height:60px;
	position:relative;
	text-align: center;
	margin-top: 2cm;	
	

}

	
#container{
		background: #66A3D2;
		position: relative;
		width: auto;
		height: auto;
		margin-top: 21px;
		
		text-align: center;
		}
		
		
#content {


		background: #ffffff;
		height: auto;
		width: 60%;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 10px 10px 10px;
		
		
		

}		

#contentmaps{
		width: 250px;
		height: 250px;
		float: right;
		margin-right: 10px;
		margin-top: 25px;
		padding: 0px 200px 0px 0px;
		
		text-align: center;
		}
		
#contentbilde {

		
		width: 250px;
		height: 250px;
		float: left;
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 25px;
		padding: 0px 0px 0px 200px;
		
		text-align: center;
		

}

		

ul.navigasjon li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black;}
ul.navigasjon a {
  text-decoration: none; }
ul.navigasjon {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:fixed;
  top: 2em;
  left: 380px;
  width: 9em; }
  
 